# General purpose useful libraries
lxml==2.3.4
pytz==2015.2
ipython==4.0.1
requests==2.6.0

# Code validation
pep8

# CLI
tqdm
click

# Database related packages
PyMySQL==0.6.6
SQLAlchemy==1.0.8

# Job schedulers and management
celery
supervisor==3.1.3
APScheduler==3.0.3

# Libraries for documentation
sphinx
sphinx-autobuild
sphinx_rtd_theme
